/* --------------------------------------Account Style-------------------------------------------------------------- */

.account-table {
    width: 100%;
    table-layout: auto;
    color: #f0ead6;
    margin-top: 15px;
    margin-bottom: 15px;
}

.account-heading {
    width: 40%;
}

.account-detail {
    text-align: left;
}

.update-btn {
    margin-bottom: 10px;
}

.delete-btns {
    margin-top: 10px;
}

/* --------------------------------------/ Account Style-------------------------------------------------------------- */