/* -----------------------------------------Butterfly-------------------------------------------------------------- */

.flower-wrap {
    display: inline-block;
    width: 46%;
}

.flower-wrap-left {
    text-align: right;
}

.flower-wrap-right {
    text-align: left;
}

.flower-display {
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: auto;
    max-width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
    display:inline-block;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 200;
    text-align: center;
    color: #f0ead6;
    border: 4px solid #f0ead6;
}

.flower-wrap-bottom {
    vertical-align: top;
}

#flower-top-left {
    border-bottom-right-radius: 0px!important;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #101e2e),
        color-stop(1, #203955)
    );
    visibility: hidden;
}

#flower-top-right {
    border-bottom-left-radius: 0px!important;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #7e4a5a),
        color-stop(1, #bd7087)
    );
    visibility: hidden;
}

#flower-bottom-left {
    border-top-right-radius: 0px!important;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #056b91),
        color-stop(1, #3eb1db)
    );
    visibility: hidden;
}

#flower-bottom-right {
    border-top-left-radius: 0px!important;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #243447),
        color-stop(1, #466386)
    );
    visibility: hidden;
}

@media (max-width: 277px) {
    .flower {
        top: 60%;
    }
}

@media (max-height: 340px){
    .flower-display {
        padding: 20px 10px;
    }
}

@media (max-height: 300px){
    .flower-display {
        padding: 10px 10px;
    }
}

@media (min-width: 650px){
    @media (min-height: 540px){
        .flower-display {
            font-size: 34px;
            padding: 40px 20px;
        }

        .section-info {
            line-height: 36px;
        }
    }
}

@media (max-height: 450px){
    .flower {
        top: 60%;
    }
}

@media (max-width: 359px){
    @media (max-height: 580px){
        .flower {
            top: 55%;
        }
    }

    @media (max-height: 540px){
        .flower {
            top: 55%;
        }

        .flower-display {
            padding: 20px 10px;
        }
    }

    @media (max-height: 470px){
        .flower {
            top: 55%;
        }

        .flower-display {
            padding: 10px 10px;
        }
    }

    @media (max-height: 390px){
        .flower {
            top: 60%;
        }
    }

    .flower-wrap {
        display: block;
        width: 100%;
    }

    .flower-wrap-left {
        text-align: left;
    }

    #flower-top-left {
        border-bottom-right-radius: 20px!important;
        border-bottom-left-radius: 0px!important;
    }

    #flower-bottom-left {
        border-top-right-radius: 20px!important;
        border-bottom-left-radius: 0px!important;
    }
    
    #flower-bottom-right {
        border-top-left-radius: 20px!important;
        border-bottom-left-radius: 0px!important;
    }
}

/* -----------------------------------------/ Butterfly-------------------------------------------------------------- */