/* --------------------------------------Home Page-------------------------------------------------------------- */

.main-table {
    width: 160%;
}

.main-page {
    width: calc(100vw - 2px);
    height: 100vh;
}

.menu-nav {
    border-left: 4px solid #a1bee1;
    background-color: #16273b;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #101e2e),
        color-stop(1, #203955)
    );
    /* background: repeating-conic-gradient(#16273b 0 9deg, #17283b 9deg 18deg, #15263a 18deg 23deg, #15263a 23deg 27deg, #172a3f 27deg 36deg);
    background-repeat: no-repeat; */
    width: 100%;
    height: 100vh;
    vertical-align: middle;
    font-size: 30px;
}

/* --------------------------------------/ Home Page-------------------------------------------------------------- */