.loader {
    display: none;
    border: 10px solid white;
    border-top: 10px solid #0677a1;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading {
    width: auto;
}