/* --------------------------------------Login Page-------------------------------------------------------------- */

.login-page {
    height: 100%;
}

.front-img {
    margin-top: 25px;
    width: 100px;
}

.app-name {
    margin-bottom: 10px;
}

.app-slogan {
    margin-bottom: 20px;
    color: #f0ead6;
}

.btn {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border-radius: 5px;
    background-color: #f0ead6;
    border-width: 2px;
    border-top-color: #16273b;
    border-left-color: #16273b;
    border-bottom-color: #3eb1db;
    border-right-color: #3eb1db;
    color: black;
    cursor: pointer;
}

.btn:hover {
    background-color: #c7c3b6;
}

input {
    width: 90%;
    max-width: 400px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: #f0ead6!important;
    border-top-color: #0677a1;
    border-left-color: #0677a1;
    border-bottom-color: #3eb1db;
    border-right-color: #3eb1db;
}

label {
    font-weight: 700;
    margin-bottom: 10px;
}

.login-tabs {
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin: 15px;
}

.panel2 {
    overflow-x: hidden;
    overflow-y: overlay;
    max-height: 2px;
}

@media (min-height:790px){
    .panel2 {
        max-height: 450px;
    }
}

@media (max-height:790px){
    .panel2 {
        max-height: 435px;
    }
}

@media (max-height:775px){
    .panel2 {
        max-height: 420px;
    }
}

@media (max-height:760px){
    .panel2 {
        max-height: 405px;
    }
}

@media (max-height:745px){
    .panel2 {
        max-height: 390px;
    }
}

@media (max-height:730px){
    .panel2 {
        max-height: 375px;
    }
}

@media (max-height:715px){
    .panel2 {
        max-height: 360px;
    }
}

@media (max-height:700px){
    .panel2 {
        max-height: 345px;
    }
}

@media (max-height:685px){
    .panel2 {
        max-height: 330px;
    }
}

@media (max-height:670px){
    .panel2 {
        max-height: 315px;
    }
}

@media (max-height:655px){
    .panel2 {
        max-height: 300px;
    }
}

@media (max-height:640px){
    .panel2 {
        max-height: 285px;
    }
}

@media (max-height:625px){
    .panel2 {
        max-height: 270px;
    }
}

@media (max-height:610px){
    .panel2 {
        max-height: 255px;
    }
}

@media (max-height:590px){
    .panel2 {
        max-height: 240px;
    }
}

@media (max-height:575px){
    .panel2 {
        max-height: 225px;
    }
}

@media (max-height:535px){
    .panel2 {
        max-height: 210px;
    }
}

.no-account {
    font-size: 14px;
}

#panel3 {
    text-align: center;
}

@media (min-width:625px){
    .about-section {
        margin-left: 20%;
        margin-right: 20%;
    }
}

/* --------------------------------------/ Login Page-------------------------------------------------------------- */