/* --------------------------------------Modal-------------------------------------------------------------- */

.modal {
    display: none;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #3f192880;
}

.modal-content {
    opacity: 1;
    max-height: 90%;
    width: 50%;
    position: relative;
    background-color: white;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1%;
    line-height: 22px;
    box-shadow: 0 10px 10px 2px black;
    overflow-y: overlay;
}

@media (max-width:730px){
    .modal-content {
        width: 70%;
    }
}

@media (max-width:450px){
    .modal-content {
        width: 90%;
    }
}

.modalTitle {
    color: #101e2e;
}

.modal-text {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.close {
    position: absolute;
    color: black;
    top: 20px;
    right: 0px;
    transform: translate(-50%, -50%);
    font-weight: 100;
    text-align: right;
    font-family: 'Comfortaa', cursive;
    font-size: 2em;
    text-align: center;
    cursor: pointer;
}

/* --------------------------------------/ Modal-------------------------------------------------------------- */