/* --------------------------------------Navigation Icons-------------------------------------------------------------- */

.burger {
    font-size: 32px;
    position: absolute;
    top: 32px;
    right: 0px;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.back-arrow {
    color: #f0ead6;
    font-size: 36px;
    position: absolute;
    top: 32px;
    left: 25px;
    transform: translate(-50%, -50%);
}

.close-x {
    font-size: 42px;
    position: absolute;
    top: -9px;
    left: calc(100vw + 30px);
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: #a1bee1;
}

/* --------------------------------------/ Navigation Icons-------------------------------------------------------------- */