html, body {
	margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #3f1928;
    /* background: repeating-conic-gradient(#3f1928 0 9deg, #4e1f32 9deg 18deg, #461a2b 18deg 23deg, #4b2131 23deg 27deg, #3b1825 27deg 36deg); */
    text-align: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
}


/* --------------------------------------General Text-------------------------------------------------------------- */

header {
	margin: 0;
	padding-top: 2px;	
	justify-content: center;
    width: 100%;
}

header div {
    text-align: center;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 5em;
    color: black;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 3em;
    color: #f0ead6;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 1.25em;
    text-align: center;
    color: #f0ead6;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 1em;
    text-align: justify;
    text-align-last: center;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 0.85em;
    text-align: center;
    font-style: italic;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #a1bee1;
}

a:active, a:hover, a:link, a:visited {
    background: none;
    text-decoration: none;
}

nav {
    display: flex;
}

nav li {
    text-align: center;
    float: left;
    justify-content: center;
    padding: 0px 16px;
    text-decoration: none;
    display: block;
    color: black;
}

nav li:hover {
    border-radius: 5px;
    color: white;
    background-color: rgba(51, 51, 51, 1);
}

ul {
    text-align: center;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    border-radius: 5px;
}

hr {
    width: 65%;
}

/* --------------------------------------/ General Text-------------------------------------------------------------- */

#main-body {
    height: 100%;
}

.page {
    scroll-behavior: smooth;
    position: relative;
    /* background: repeating-conic-gradient(#16273b 0 9deg, #17283b 9deg 18deg, #15263a 18deg 23deg, #15263a 23deg 27deg, #172a3f 27deg 36deg);
    background-repeat: no-repeat; */
    background: repeating-conic-gradient(#3f1928 0 9deg, #411c2a 9deg 18deg, #3f1b29 18deg 23deg, #3f1d2a 23deg 27deg, #3b1825 27deg 36deg);
    background-repeat: no-repeat;
    height: 100%;
}


.table-divider {
    width: 40%;
}

table {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 1em;
}

.top-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.top{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0px solid;
    border-radius: 10px;
}

.calming-exercise {
    top: 60%;
}

.top img {
    margin-bottom: -5%;
}

table {
    table-layout: fixed;
    width: 300%;
    border-collapse: collapse;
}





table, tr, td {
    text-align: center;
}

.middle-container {
    display: block;
    /* min-height: 65vh; */
}

.middle-wrap {
    background-color: #16273b;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #101e2e),
        color-stop(1, #203955)
    );
    scroll-behavior: smooth;
    overflow: hidden;
    max-height: 60vh;
    border: 4px solid #f0ead6;
    border-radius: 10px;
}

.middle {
    border: 0px solid;
    border-radius: 10px;
    border-color: rgb(34, 34, 34);
}

.section-title {
    margin-top: 40px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.section-info {
    line-height: 30px;
    text-align: center;
}



.top-border {
    vertical-align: middle;
}