/* --------------------------------------Slide Navigation-------------------------------------------------------------- */

.footer {
    text-align: center;
    width: 100%;
}

.footer-loc {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

#brain, #dna, #heart, #login, #reg, #que {
    transition: all 0.5s ease-out;
    border: 4px solid #304a67;
    border-radius: 50%;
    padding: 5px;
    color: #a1bee1;
    font-size: 30px;
    width: 37px;
    height: 37px;
    cursor: pointer;
}

.page-nav {
    margin-top: 20px;
}

.footer-line {
    border: 2px solid #304a67;
    width: 30px;
    margin-left:-5px;
    margin-right:-5px;
}

.footer-lines {
    margin-top: 12px;
    height: 17.5px;
    vertical-align: middle;
}

.footer-active {
    transition: all 0.5s ease-in;
    background-color: #16273b;
}

/* --------------------------------------/ Slide Navigation-------------------------------------------------------------- */